:root {
    --primaryColor: #09C5A3;
    --secondaryColor: #00A98B;
}

/* Home Page */
#wrapper #banner {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    width: 100%;
    height: 90vh;
    top: 10vh;
    background: url('../images/hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-repeat: fixed;
    -moz-background-repeat: fixed;
    -ms-background-repeat: fixed;
    -o-background-repeat: fixed;
    background-repeat: fixed;
    background-position: center center;
    background-attachment: fixed;
}

#wrapper #banner #overlay {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 90vh;
    background: rgba(2, 105, 86, 0.2);
}

#wrapper #banner #overlay #homeHeader {
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70%;
}

#wrapper #banner #overlay #homeHeader h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}

#wrapper #banner #overlay #homeHeader div {
    padding-top: 3rem;
    width: 100%;
}

#wrapper #banner #overlay #homeHeader div a {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 18px 45px;
    margin: 0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primaryColor);
    border: solid var(--primaryColor) 2px;
    border-radius: 500px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #banner #overlay #homeHeader div a:hover {
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
}

#wrapper #therapySec {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    padding: 10rem 7rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#wrapper #therapySec h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: black;
    text-align: center;
    width: 100%;
    padding-bottom: 5rem;
}

#wrapper #therapySec #therapistCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#wrapper #therapySec #therapistCards .therapyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 3rem;
    margin: 3rem 0;
    width: 100%;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.1);
}

#wrapper #therapySec #therapistCards .mainCard {
    background: var(--primaryColor);
    margin: 0 3rem;
}

#wrapper #therapySec #therapistCards .therapyCard h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: black;
    text-align: center;
    width: 100%;
    padding-bottom: 2.5rem;
}

#wrapper #therapySec #therapistCards .mainCard h2 {
    font-size: 5rem;
    font-weight: 700;
    color: white;
}

#wrapper #therapySec #therapistCards .therapyCard h2 span {
    font-size: 1.5rem;
    font-weight: 700;
}

#wrapper #therapySec #therapistCards .mainCard span {
    font-size: 2rem;
}

#wrapper #therapySec #therapistCards .therapyCard h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
}

#wrapper #therapySec #therapistCards .mainCard h4 {
    font-size: 1.3rem;
    color: white;
}

#wrapper #therapySec #therapistCards .therapyCard p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: black;
    text-align: center;
    width: 100%;
}

#wrapper #therapySec #therapistCards .mainCard p {
    font-size: 1rem;
    color: white;
}

#wrapper #therapySec #therapistCards .therapyCard div {
    padding-top: 2.5rem;
    width: 100%;
    text-align: center;
    display: flex;
}

#wrapper #therapySec #therapistCards .therapyCard div a {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 18px 45px;
    margin: 0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: var(--primaryColor);
    border: solid var(--primaryColor) 2px;
    border-radius: 500px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #therapySec #therapistCards .mainCard div a {
    color: white;
    background-color: transparent;
    border: solid white 2px;
}

#wrapper #therapySec #therapistCards .therapyCard div a:hover {
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
}

#wrapper #therapySec #therapistCards .mainCard div a:hover {
    color: var(--primaryColor);
    background-color: white;
    border: solid white 2px;
}

#wrapper #companySec {
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#wrapper #companySec div {
    width: 50%;
}

#wrapper #companySec div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#wrapper #companySec #companyDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 7rem 5rem 5rem;
    color: white;
    background: var(--primaryColor);
}

#wrapper #companySec #companyDesc h2 {
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
    padding-bottom: 2rem;
}

#wrapper #companySec #companyDesc p {
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}