:root {
    --primaryColor: #09C5A3;
    --secondaryColor: #00A98B;
}

/* Admin Dashboard Page */
#wrapper #orderHistoryHeroContainer {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    width: 100%;
    height: 40vh;
    background: url('../images/orderhistory.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#wrapper #orderHistoryHeroContainer #overlay {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 40vh;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#wrapper #orderHistoryHeroContainer #overlay #orderHistoryHero {
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#wrapper #orderHistoryHeroContainer #overlay #orderHistoryHero h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}

#wrapper #orderToolbar {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 7rem;
    align-items: center;
}

#wrapper #orderToolbar p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: black;
    width: 20%;
}

#wrapper #orderToolbar p #boldResults {
    font-weight: 700;
}

#wrapper #orderToolbar #searchForm {
    width: 80%;
    margin-left: 1.5rem;
}

#wrapper #orderToolbar #searchForm #searchbar {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding: 1.5rem 3rem;
    border: none;
    outline: none;
    border-radius: 500px;
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.1);
}

#wrapper #orderTableContainer {
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    width: 100%;
    padding: 0 7rem 5rem;
    border-collapse: collapse;
}

#wrapper #orderTableContainer #orderTable {
    width: 100%;
    border-spacing: 0 1.3rem;
}

#wrapper #orderTableContainer #orderTable thead #tableHeader {
    background-color: transparent;
}

#wrapper #orderTableContainer #orderTable thead #tableHeader th {
    padding: 0 1rem 1rem 1rem;
}

#wrapper #orderTableContainer #orderTable thead #tableHeader .tHead {
    cursor: pointer;
}

#wrapper #orderTableContainer #orderTable thead #tableHeader th i {
    padding-left: 1rem;
}

#wrapper #orderTableContainer #orderTable thead th,
#wrapper #orderTableContainer #orderTable tbody td {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

#wrapper #orderTableContainer #orderTable tbody td {
    padding: 1.5rem 1rem;
}

#wrapper #orderTableContainer #orderTable tbody .tableRows {
    background: white;
    box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

#wrapper #orderTableContainer #orderTable tbody .tableRows td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#wrapper #orderTableContainer #orderTable tbody .tableRows td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}