:root {
    --primaryColor: #09C5A3;
    --secondaryColor: #00A98B;
}

@media (max-width: 575.98px) {
    #wrapper #navPlaceHolder {
        display: none;
    }
    #wrapper #header {
        display: none;
    }
    #wrapper #headMobile {
        display: block;
        z-index: 9999;
    }
    #wrapper #headMobile .nav-container {
        padding: 0 3rem;
    }
    #wrapper #headMobile .nav-container #footerNav {
        font-size: 15px;
    }
    #wrapper #headMobile .nav-container .nav-btns .nav-toggle {
        font-size: 1.5rem;
    }
    #wrapper #headMobile .nav-container .nav-menu .nav-list .nav-item {
        width: 50%;
    }
    #wrapper #footerPlaceHolder {
        display: none;
    }
    #wrapper #signUp {
        grid-row: 2 / span 1;
        padding: 5rem 3rem;
        margin-bottom: 5rem;
    }
    #wrapper #signUp h2 {
        font-size: 2rem;
    }
    #wrapper #signUp #formContainer {
        width: 100%;
        padding: 4rem 2rem 2.5rem 2rem;
    }
    #wrapper #signUp #formContainer #signupForm .form-row.col-6 {
        width: 100%;
    }
    #wrapper #loginContainer {
        grid-row: 2 / span 1;
        padding: 5rem 3rem;
        flex-direction: column-reverse;
    }
    #wrapper #loginContainer .col-6 {
        width: 100%;
        text-align: center;
    }
    #wrapper #loginContainer .col-6 h2 {
        font-size: 2rem;
    }
    #wrapper #loginContainer .col-6 img {
        padding-top: 5rem;
        width: 80%;
        padding-bottom: 3rem;
    }
    #wrapper #loginContainer .col-6 #loginSec #formContainer {
        padding: 4rem 2rem 2.5rem 2rem;
    }
    #wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .form-group label {
        text-align: left;
    }
    #wrapper #banner {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        height: 30vh;
        background-attachment: scroll;
    }
    #wrapper #banner #overlay {
        height: 30vh;
    }
    #wrapper #banner #overlay #profileHeader {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    #wrapper #banner #overlay #profileHeader h2 {
        display: none;
    }
    #wrapper #banner #overlay #profileHeader #editProfileBtn {
        display: flex;
        font-size: 16px;
        min-width: 10rem;
        padding: 10px;
        height: 3.2rem;
    }
    #wrapper #profileSummary {
        background: white;
        padding: 0 5rem 5rem;
        margin-top: -5vh;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 5;
    }
    #wrapper #profileSummary #profileDesc {
        width: 100%;
        padding-left: 0;
        text-align: center;
        position: absolute;
        top: 16vh;
        padding-bottom: 7rem;
    }
    #wrapper #profileSummary #profileDesc #profileImageSecMob {
        display: block;
        padding: 0 27%;
    }
    #wrapper #profileSummary #profileDesc #profileImageSecMob #profileImgContainerMob #profileImageMob {
        border-radius: 500px;
        border: 7px solid white;
        box-shadow: none;
    } 
    #wrapper #profileSummary #profileDesc #displayFullname {
        padding: 1rem 3rem 0.8rem;
        font-size: 1.5rem;
    }
    #wrapper #profileSummary #profileDesc #displayUsername {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--primaryColor);
        margin: 0;
        padding-bottom: 2rem;
    }    
    #wrapper #profileSummary #profileDesc #contactInfoMob {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 2rem;
        margin: 0 2rem 3rem;
    }
    #wrapper #profileSummary #profileDesc #contactInfoMob div i {
        font-size: 1.5rem;
    }
    #wrapper #profileSummary #profileDesc #contactInfoMob div span {
        font-size: 1rem;
    }
    #wrapper #profileSummary #profileDesc #joinedDateMob {
        display: block;
    }
    #wrapper #profileSummary #profileImageSec,
    #wrapper #profileSummary #profileDesc p,
    #wrapper #profileSummary #profileDesc #buttonSec,
    #wrapper #profileDetails {
        display: none;
    }
    #wrapper #bannerMob {
        height: 30vh;
    }
    #wrapper #bannerMob #overlay {
        height: 30vh;
    }
    #wrapper #bannerMob #overlay #profileHeader {
        padding: 3rem 2rem;
    }
    #wrapper #bannerMob #overlay #profileHeader #editBanner,
    #wrapper #bannerMob #overlay #profileHeader #saveChanges {
        font-size: 14px;
        min-width: 8rem;
        padding: 10px;
        height: 3.2rem;
    }
    #wrapper #profileSummaryMob #profileDesc {
        top: 16vh;
    }
    #wrapper #profileSummaryMob #profileDesc #profileImageSec {
        padding: 0 27%;
    }
    #wrapper #profileSummaryMob #profileDesc #profileImageSec #profileImgContainer #profileImage {
        border: 7px solid white;
    } 
    #wrapper #profileDetailsMob {
        padding: 5rem 3rem;
    }
    #wrapper #profileDetailsMob #profileForm .form-row .form-group label {
        font-size: 1rem;
    }
    #wrapper #dashboardHeroContainer {
        grid-row: 1 / span 1;
        height: 30vh;
        background-attachment: scroll;
    }
    #wrapper #dashboardHeroContainer #overlay {
        height: 30vh;
    }
    #wrapper #dashboardHeroContainer #overlay #dashboardHero {
        padding: 3rem;
    }  
    #wrapper #dashboardHeroContainer #overlay #dashboardHero h2 {
        font-size: 2.5rem;
    }
    #wrapper #dashboardToolbar {
        grid-row: 2 / span 1;
        padding: 5rem 3rem 2rem;
        flex-wrap: wrap;
    }
    #wrapper #dashboardToolbar p {
        width: 100%;
        padding-bottom: 2rem;
        text-align: center;
    }
    #wrapper #dashboardToolbar #searchForm {
        width: 100%;
        order: 3;
        margin: 2rem 0 0;
    }
    #wrapper #dashboardToolbar #searchForm #searchbar {
        padding: 1.5rem 2rem;
    }
    #wrapper #dashboardToolbar #createUser {
        width: 100%;
        order: 2;
    }
    #wrapper #tableContainer {
        grid-row: 3 / span 1;
        padding: 0 3rem 7rem;
    }
    #wrapper #tableContainer #dashboardTable thead {
        display: none;
    }
    #wrapper #tableContainer #dashboardTable tbody {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #wrapper #tableContainer #dashboardTable tbody .tableRows {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem 1rem;
        margin-bottom: 1.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td {
        font-size: 1rem;
        padding: 0.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(1):before {
        content: 'First Name: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(2):before {
        content: 'Last Name: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(3):before {
        content: 'Username: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(4):before {
        content: 'Email: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(5):before {
        content: 'Phone: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(6):before {
        content: 'User Type: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #deleteUserModal {
        padding-top: 35%;
        padding-bottom: 0%;
    }
    #createUserModal #modalContent,
    #editUserModal #modalContent,
    #deleteUserModal #modalContent {
        padding: 2rem 1.5rem;
        width: 90%;
    }
    #createUserModal #modalContent #modalHeader #closeCreate, 
    #editUserModal #modalContent #modalHeader #closeEdit {
        font-size: 1.7rem;
    }
    #deleteUserModal #modalContent h2 {
        font-size: 1.2rem;
    }
    #deleteUserModal #modalContent #deleteButtonsSec {
        flex-direction: row-reverse;
        justify-content: center;
    }
    #deleteUserModal #modalContent #deleteButtonsSec #deleteUserBtn {
        padding: 12px;
        width: 50%;
        font-size: 1rem;
        margin-left: 0;
    }
    #deleteUserModal #modalContent #deleteButtonsSec #closeDelete {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings,
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings.inactive {
        padding: 10px;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings i {
        font-size: 1.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings .settingIcon {
        margin-left: -1.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings .settingIcon.inactive {
        margin-left: -1.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings .settingIcon.active {
        padding-left: 2rem;
    }
    @-webkit-keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @-moz-keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @-ms-keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @-o-keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @-webkit-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    @-moz-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    @-ms-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    @-o-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    @keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    #createUserModal #modalContent #formContainer #createUserForm .form-row.col-6,
    #editUserModal #modalContent #formContainer #editUserForm .form-row.col-6 {
        width: 100%;
    }
    #deleteUserModal {
        padding-top: 40%;
        padding-bottom: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #wrapper #navPlaceHolder {
        display: none;
    }
    #wrapper #header {
        display: none;
    }
    #wrapper #headMobile {
        display: block;
        z-index: 9999;
    }
    #wrapper #headMobile .nav-container {
        padding: 0 3rem;
    }
    #wrapper #footerPlaceHolder {
        display: none;
    }
    #wrapper #signUp {
        grid-row: 2 / span 1;
        padding: 5rem 3rem;
        margin-bottom: 5rem;
    }
    #wrapper #signUp #formContainer {
        width: 100%;
        padding: 4rem 3rem 2.5rem 3rem;
    }
    #wrapper #signUp #formContainer #signupForm .form-row.col-6 {
        width: 100%;
    }
    #wrapper #loginContainer {
        grid-row: 2 / span 1;
        padding: 5rem 3rem;
        flex-direction: column-reverse;
    }
    #wrapper #loginContainer .col-6 {
        width: 100%;
        text-align: center;
    }
    #wrapper #loginContainer .col-6 img {
        padding-top: 5rem;
        width: 50%;
        padding-bottom: 3rem;
    }
    #wrapper #loginContainer .col-6 #loginSec #formContainer {
        padding: 4rem 3rem 2.5rem 3rem;
    }
    #wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .form-group label {
        text-align: left;
    }
    #wrapper #banner {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        height: 32vh;
        background-attachment: scroll;
    }
    #wrapper #banner #overlay {
        height: 32vh;
    }
    #wrapper #banner #overlay #profileHeader {
        padding: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    #wrapper #banner #overlay #profileHeader h2 {
        display: none;
    }
    #wrapper #banner #overlay #profileHeader #editProfileBtn {
        display: flex;
        font-size: 1rem;
        min-width: 12rem;
        padding: 10px;
        height: 3.7rem;
    }
    #wrapper #profileSummary {
        background: white;
        padding: 0 5rem 5rem;
        margin-top: -5vh;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 5;
    }
    #wrapper #profileSummary #profileDesc {
        width: 100%;
        padding-left: 0;
        text-align: center;
        position: absolute;
        top: 16vh;
        padding-bottom: 7rem;
    }
    #wrapper #profileSummary #profileDesc #profileImageSecMob {
        display: block;
        padding: 0 30%;
    }
    #wrapper #profileSummary #profileDesc #profileImageSecMob #profileImgContainerMob #profileImageMob {
        border-radius: 500px;
        border: 10px solid white;
        box-shadow: none;
    } 
    #wrapper #profileSummary #profileDesc #displayFullname {
        padding-top: 1rem;
        font-size: 1.7rem;
    }
    #wrapper #profileSummary #profileDesc #displayUsername {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--primaryColor);
        margin: 0;
        padding-bottom: 2rem;
    }    
    #wrapper #profileSummary #profileDesc #contactInfoMob {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 3rem;
        margin: 0 3rem 3rem;
    }
    #wrapper #profileSummary #profileDesc #joinedDateMob {
        display: block;
    }
    #wrapper #profileSummary #profileImageSec,
    #wrapper #profileSummary #profileDesc p,
    #wrapper #profileSummary #profileDesc #buttonSec,
    #wrapper #profileDetails {
        display: none;
    }
    #wrapper #bannerMob {
        height: 32vh;
    }
    #wrapper #bannerMob #overlay {
        height: 32vh;
    }
    #wrapper #bannerMob #overlay #profileHeader {
        padding: 3rem;
    }
    #wrapper #bannerMob #overlay #profileHeader #editBanner,
    #wrapper #bannerMob #overlay #profileHeader #saveChanges {
        font-size: 1rem;
        min-width: 12rem;
        padding: 10px;
        height: 3.7rem;
    }
    #wrapper #profileSummaryMob #profileDesc {
        top: 16vh;
    }
    #wrapper #profileSummaryMob #profileDesc #profileImageSec {
        padding: 0 30%;
    }
    #wrapper #profileDetailsMob {
        padding: 5rem 3rem;
    }
    #wrapper #dashboardHeroContainer {
        grid-row: 1 / span 1;
        height: 30vh;
        background-attachment: scroll;
    }
    #wrapper #dashboardHeroContainer #overlay {
        height: 30vh;
    }
    #wrapper #dashboardHeroContainer #overlay #dashboardHero {
        padding: 3rem;
    }  
    #wrapper #dashboardHeroContainer #overlay #dashboardHero h2 {
        font-size: 2.5rem;
    }
    #wrapper #dashboardToolbar {
        grid-row: 2 / span 1;
        padding: 5rem 3rem 2rem;
        flex-wrap: wrap;
    }
    #wrapper #dashboardToolbar p {
        width: 50%;
    }
    #wrapper #dashboardToolbar #searchForm {
        width: 100%;
        order: 3;
        margin: 2rem 0 0;
    }
    #wrapper #dashboardToolbar #createUser {
        width: 50%;
        order: 2;
    }
    #wrapper #tableContainer {
        grid-row: 3 / span 1;
        padding: 0 3rem 7rem;
    }
    #wrapper #tableContainer #dashboardTable thead {
        display: none;
    }
    #wrapper #tableContainer #dashboardTable tbody {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #wrapper #tableContainer #dashboardTable tbody .tableRows {
        display: flex;
        flex-direction: column;
        width: 47%;
        padding: 2rem 1rem;
        margin-bottom: 1.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td {
        font-size: 1rem;
        padding: 0.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(1):before {
        content: 'First Name: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(2):before {
        content: 'Last Name: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(3):before {
        content: 'Username: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(4):before {
        content: 'Email: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(5):before {
        content: 'Phone: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #wrapper #tableContainer #dashboardTable tbody td:nth-child(6):before {
        content: 'User Type: ';
        font-size: 1rem;
        font-weight: 700;
    }
    #deleteUserModal {
        padding-top: 30%;
        padding-bottom: 0%;
    }
    #createUserModal #modalContent,
    #editUserModal #modalContent,
    #deleteUserModal #modalContent {
        width: 80%;
    }
    #createUserModal #modalContent #modalHeader #closeCreate, 
    #editUserModal #modalContent #modalHeader #closeEdit {
        font-size: 1.7rem;
    }
    #deleteUserModal #modalContent h2 {
        font-size: 1.3rem;
    }
    #deleteUserModal #modalContent #deleteButtonsSec #deleteUserBtn {
        padding: 12px;
        width: 25%;
        font-size: 1rem;
    }
    #deleteUserModal #modalContent #deleteButtonsSec #closeDelete {
        font-size: 1rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings,
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings.inactive {
        padding: 10px;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings i {
        font-size: 1.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings .settingIcon {
        margin-left: -1.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings .settingIcon.inactive {
        margin-left: -1.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings .settingIcon.active {
        padding-left: 2rem;
    }
    @-webkit-keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @-moz-keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @-ms-keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @-o-keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @keyframes animateSlideClose {
        from {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
    }
    @-webkit-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    @-moz-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    @-ms-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    @-o-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    @keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.5rem;
            opacity: 0;
        }
        to {
            padding-left: 2rem;
            margin: 0;
            opacity: 1;
        }
    }
    #createUserModal #modalContent #formContainer #createUserForm .form-row.col-6,
    #editUserModal #modalContent #formContainer #editUserForm .form-row.col-6 {
        width: 100%;
    }
    #deleteUserModal {
        padding-top: 40%;
        padding-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #wrapper #navPlaceHolder {
        display: none;
    }
    #wrapper #header {
        display: none;
    }
    #wrapper #headMobile {
        display: block;
        z-index: 9999;
    }
    #wrapper #footerPlaceHolder {
        display: none;
    }
    #wrapper #signUp {
        grid-row: 2 / span 1;
        padding: 5rem;
        margin-bottom: 5rem;
    }
    #wrapper #signUp #formContainer {
        width: 100%;
        padding: 4rem 4rem 2.5rem 4rem;
    }
    #wrapper #loginContainer {
        grid-row: 2 / span 1;
        padding: 5rem;
        flex-direction: column-reverse;
    }
    #wrapper #loginContainer .col-6 {
        width: 100%;
        text-align: center;
    }
    #wrapper #loginContainer .col-6 img {
        padding-top: 5rem;
        width: 50%;
        padding-bottom: 3rem;
    }
    #wrapper #loginContainer .col-6 #loginSec #formContainer {
        padding: 4rem 4rem 2.5rem 4rem;
    }
    #wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .form-group label {
        text-align: left;
    }
    #wrapper #banner {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        height: 40vh;
        background-attachment: scroll;
    }
    #wrapper #banner #overlay {
        height: 40vh;
    }
    #wrapper #banner #overlay #profileHeader {
        padding: 3rem 5rem;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    #wrapper #banner #overlay #profileHeader h2 {
        display: none;
    }
    #wrapper #banner #overlay #profileHeader #editProfileBtn {
        display: flex;
        font-size: 1rem;
        min-width: 12rem;
        padding: 10px;
        height: 4rem;
    }
    #wrapper #profileSummary {
        background: white;
        padding: 0 5rem 5rem;
        margin-top: -5vh;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 5;
    }
    #wrapper #profileSummary #profileDesc {
        width: 100%;
        padding-left: 0;
        text-align: center;
        position: absolute;
        top: 20vh;
        padding-bottom: 7rem;
    }
    #wrapper #profileSummary #profileDesc #profileImageSecMob {
        display: block;
        padding: 0 35%;
    }
    #wrapper #profileSummary #profileDesc #profileImageSecMob #profileImgContainerMob #profileImageMob {
        border-radius: 500px;
        border: 10px solid white;
        box-shadow: none;
    } 
    #wrapper #profileSummary #profileDesc #displayFullname {
        padding-top: 1rem;
        font-size: 2rem;
    }
    #wrapper #profileSummary #profileDesc #displayUsername {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--primaryColor);
        margin: 0;
        padding-bottom: 2rem;
    }    
    #wrapper #profileSummary #profileDesc #contactInfoMob {
        display: flex;
        flex-direction: column;
    }
    #wrapper #profileSummary #profileDesc #joinedDateMob {
        display: block;
    }
    #wrapper #profileSummary #profileImageSec,
    #wrapper #profileSummary #profileDesc p,
    #wrapper #profileSummary #profileDesc #buttonSec,
    #wrapper #profileDetails {
        display: none;
    }
    #wrapper #dashboardHeroContainer {
        grid-row: 1 / span 1;
    }
    #wrapper #dashboardHeroContainer #overlay #dashboardHero {
        padding: 5rem;
    }  
    #wrapper #dashboardHeroContainer #overlay #dashboardHero h2 {
        font-size: 3rem;
    }
    #wrapper #dashboardToolbar {
        grid-row: 2 / span 1;
        padding: 5rem 3rem 2rem;
        flex-wrap: wrap;
    }
    #wrapper #dashboardToolbar p {
        width: 50%;
    }
    #wrapper #dashboardToolbar #searchForm {
        width: 100%;
        order: 3;
        margin: 2rem 0 0;
    }
    #wrapper #dashboardToolbar #createUser {
        width: 50%;
        order: 2;
    }
    #wrapper #tableContainer {
        grid-row: 3 / span 1;
        padding: 0 2.5rem 7rem;
    }
    #wrapper #tableContainer #dashboardTable thead #tableHeader th i {
        padding-left: 0.5rem;
    }
    #wrapper #tableContainer #dashboardTable thead th,
    #wrapper #tableContainer #dashboardTable tbody td {
        font-size: 14px;
        padding: 0.5rem;
    }
    #wrapper #tableContainer #dashboardTable tbody .tableRows td:first-child {
        padding-left: 1rem;
    }
    
    #wrapper #tableContainer #dashboardTable tbody .tableRows td:last-child {
        padding-right: 1rem;
    }
    #deleteUserModal {
        padding-top: 30%;
        padding-bottom: 0%;
    }
    #createUserModal #modalContent,
    #editUserModal #modalContent,
    #deleteUserModal #modalContent {
        width: 80%;
    }
    #createUserModal #modalContent #modalHeader #closeCreate, 
    #editUserModal #modalContent #modalHeader #closeEdit {
        font-size: 1.7rem;
    }
    #deleteUserModal #modalContent h2 {
        font-size: 1.3rem;
    }
    #deleteUserModal #modalContent #deleteButtonsSec #deleteUserBtn {
        padding: 12px;
        width: 25%;
        font-size: 1rem;
    }
    #deleteUserModal #modalContent #deleteButtonsSec #closeDelete {
        font-size: 1rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings,
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings.inactive {
        padding: 5px;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings i {
        font-size: 1.2rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings .settingIcon {
        margin-left: -1.2rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings .settingIcon.inactive {
        margin-left: -1.2rem;
    }
    #wrapper #tableContainer #dashboardTable tbody td .dashSettings .settingIcon.active {
        padding-left: 0.7rem;
    }
    @-webkit-keyframes animateSlideClose {
        from {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
    }
    @-moz-keyframes animateSlideClose {
        from {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
    }
    @-ms-keyframes animateSlideClose {
        from {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
    }
    @-o-keyframes animateSlideClose {
        from {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
    }
    @keyframes animateSlideClose {
        from {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
        to {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
    }
    @-webkit-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
        to {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
    }
    @-moz-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
        to {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
    }
    @-ms-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
        to {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
    }
    @-o-keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
        to {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
    }
    @keyframes animateSlide {
        from {
            padding-left: 0;
            margin-left: -1.2rem;
            opacity: 0;
        }
        to {
            padding-left: 0.7rem;
            margin: 0;
            opacity: 1;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #wrapper #navPlaceHolder #headContainer {
        padding: 1rem 5rem;
    }
    #wrapper #navPlaceHolder #headContainer #logo img {
        width: 60px;
    }
    #wrapper #navPlaceHolder #headContainer #logo h2 {
        font-size: 2.5rem;
    }
    #wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks a {
        font-size: 14px;
    }
    #wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks:not(:last-child) {
        padding-right: 1.5rem;
    }
    #wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks a.loginNav, 
    #wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks input {
        font-size: 14px;
    }
    #wrapper #signUp {
        padding: 5rem;
    }
    #wrapper #signUp #formContainer {
        width: 100%;
    }
    #wrapper #loginContainer {
        padding: 5rem;
        flex-direction: column-reverse;
    }
    #wrapper #loginContainer .col-6 {
        width: 100%;
        text-align: center;
    }
    #wrapper #loginContainer .col-6 img {
        padding-top: 5rem;
        width: 50%;
    }
    #wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .form-group label {
        text-align: left;
    }
    #wrapper #profileSummary #profileImageSec {
        width: 40%;
    }
    #wrapper #profileSummary #profileDesc {
        width: 60%
    }
    #wrapper #profileSummary #profileDesc p {
        font-size: 1rem;
    }
    #wrapper #profileSummary #profileDesc #buttonSec #editBanner,
    #wrapper #profileSummary #profileDesc #buttonSec #saveChanges {
        min-width: 12rem;
        font-size: 1rem;
    }
    #wrapper #dashboardHeroContainer #overlay #dashboardHero {
        padding: 5rem;
    }  
    #wrapper #dashboardHeroContainer #overlay #dashboardHero h2 {
        font-size: 3rem;
    }
    #wrapper #dashboardToolbar {
        padding: 5rem;
    }
    #wrapper #dashboardToolbar p {
        width: 25%;
    }
    #wrapper #dashboardToolbar #searchForm {
        width: 55%;
    }
    #wrapper #dashboardToolbar #createUser {
        width: 20%;
    }
    #wrapper #tableContainer {
        padding: 0 5rem 5rem;
    }
    #wrapper #tableContainer #dashboardTable thead #tableHeader th i {
        padding-left: 0.5rem;
    }
    #wrapper #tableContainer #dashboardTable thead th,
    #wrapper #tableContainer #dashboardTable tbody td {
        font-size: 14px;
        padding: 0.7rem;
    }
    #wrapper #tableContainer #dashboardTable tbody .tableRows td:first-child {
        padding-left: 1rem;
    }
    #wrapper #tableContainer #dashboardTable tbody .tableRows td:last-child {
        padding-right: 1rem;
    }
    #deleteUserModal {
        padding-top: 25%;
        padding-bottom: 0%;
    }
    #createUserModal #modalContent,
    #editUserModal #modalContent,
    #deleteUserModal #modalContent {
        width: 80%;
    }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
    
}

@media (min-width: 2000px) {

}