:root {
    --primaryColor: #09C5A3;
    --secondaryColor: #00A98B;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    background: url('../images/radial-bg.svg');
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(196, 196, 196, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--primaryColor);
}

#wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#wrapper #navPlaceHolder {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* Desktop Header */
#wrapper #navPlaceHolder #header {
    background-color: white;
    box-shadow: 0px 10px 28px -5px rgba(0, 0, 0, 0.15);
    z-index: 9999;
}

#wrapper #navPlaceHolder #headContainer {
    min-height: 10vh;
    padding: 1rem 7rem;
    display: flex;
}

#wrapper #navPlaceHolder #headContainer #logo {
    align-self: center;
    text-decoration: none;
    display: flex;
    width: 30%;
}

#wrapper #navPlaceHolder #headContainer #logo img {
    width: 80px;
    padding-right: 10px;
}

#wrapper #navPlaceHolder #headContainer #logo h2 {
    font-size: 3rem;
    color: var(--primaryColor);
    font-weight: 700;
    margin: 0;
}

#wrapper #navPlaceHolder #headContainer #navbar {
    align-self: center;
    width: 70%;
}

#wrapper #navPlaceHolder #headContainer #navbar #navMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
}

#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks {
    padding-left: 2rem;
}

#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks a:hover,
#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks a:focus,
#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks a:active {
    color: var(--primaryColor);
}

#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks a.active {
    font-weight: 700;
    color: var(--primaryColor);
}

#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks a.loginNav,
#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks input {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 40px;
    width: 100%;
    color: white;
    background-color: var(--primaryColor);
    border: solid var(--primaryColor) 2px;
    border-radius: 500px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks a.loginNav:hover,
#wrapper #navPlaceHolder #headContainer #navbar #navMenu .navLinks input:hover {
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
}

/* Mobile Header */
#wrapper #headMobile {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#wrapper #headMobile .nav-container {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#wrapper #headMobile .nav-container #footerNav {
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

#wrapper #headMobile .nav-container .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 6rem 1.5rem 2rem;
    box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

#wrapper #headMobile .nav-container .nav-menu.show-menu {
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    z-index: 9999;
}

#wrapper #headMobile .nav-container .nav-menu .nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    z-index: 9999;
}

#wrapper #headMobile .nav-container .nav-menu .nav-list .nav-item {
    width: calc(100% / 3);
    padding: 0.8rem;
}

#wrapper #headMobile .nav-container .nav-menu .nav-list .nav-item .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

#wrapper #headMobile .nav-container .nav-menu .nav-list .nav-item .nav-link:hover,
#wrapper #headMobile .nav-container .nav-menu .nav-list .nav-item .nav-link:focus {
    color: var(--primaryColor);
}

#wrapper #headMobile .nav-container .nav-menu .nav-list .nav-item .nav-link.active {
    color: var(--primaryColor);
    font-weight: 700;
}

#wrapper #headMobile .nav-container .nav-menu .nav-list .nav-item .nav-link .nav-icon {
    font-size: 1.5rem;
    height: 40px;
    padding-bottom: 0.5rem;
}

#wrapper #headMobile .nav-container .nav-menu #logoMob {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
}

#wrapper #headMobile .nav-container .nav-menu #logoMob a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

#wrapper #headMobile .nav-container .nav-menu #logoMob a img {
    padding-right: 10px;
    width: 50px;
}

#wrapper #headMobile .nav-container .nav-menu #logoMob a h2 {
    font-size: 1.7rem;
    color: var(--primaryColor);
}

#wrapper #headMobile .nav-container .nav-menu .nav-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

#wrapper #headMobile .nav-container .nav-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#wrapper #headMobile .nav-container .nav-btns .themeChanger {
    font-size: 1.25rem;
    cursor: pointer;
    color: black;
}

#wrapper #headMobile .nav-container .nav-btns .nav-toggle {
    font-size: 1.7rem;
    cursor: pointer;
    color: black;
}

#wrapper #headMobile .nav-container .nav-menu .nav-btns .nav-toggle:hover,
#wrapper #headMobile .nav-container .nav-menu .nav-btns .nav-toggle:active,
#wrapper #headMobile .nav-container .nav-menu .nav-btns .nav-toggle:visited,
#wrapper #headMobile .nav-container .nav-menu .nav-btns .nav-toggle:focus {
    color: var(--primaryColor);
}

/* Desktop Footer */
#wrapper footer {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -5rem;
    padding: 3rem 7rem;
    color: black;
    text-align: center;
}

.isTherapist, .isPatient, .isLoggedIn, .isLoggedOut, .isAdmin {
    display: none;
}

/* Chat Box */
#wrapper #therapistChat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-items: center;
    cursor: pointer;
    color: white;
    bottom: 3rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-radius: 50%;
    box-shadow: 0px 0px 36px -2px rgba(0, 0, 0, 0.1);
    opacity: 0;
    background: var(--primaryColor);
    z-index: 10;
}

#wrapper #therapistChat.enter {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

#wrapper #therapistChat.enter:hover {
    opacity: 1;
    background: var(--secondaryColor);
}

#wrapper #therapistChat.expand {
    width: 25%;
    max-height: 60%;
    height: 60%;
    border-radius: 15px;
    cursor: auto;
    opacity: 1;
}

#wrapper #therapistChat #chatMsgIcon {
    font-size: 2rem;
    color: white;
}

#wrapper #therapistChat .chatContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    border-radius: 0;
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -ms-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
    margin: auto;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}

#wrapper #therapistChat .chatContainer.enter {
    opacity: 1;
    border-radius: 15px;
    width: auto;
    height: auto;
}

#wrapper #therapistChat .chatContainer #chatHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0.5rem 1.5rem;
    background: var(--primaryColor);
}

#wrapper #therapistChat .chatContainer #chatHeader #chatProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 70%;
}

#wrapper #therapistChat .chatContainer #chatHeader #chatProfile div img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

#wrapper #therapistChat .chatContainer #chatHeader #chatProfile #chatProfileDesc {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

#wrapper #therapistChat .chatContainer #chatHeader #chatProfile #chatProfileDesc #chatName {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding-bottom: 3px;
}

#wrapper #therapistChat .chatContainer #chatHeader #chatProfile #chatProfileDesc p:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
    color: #EFEFEF;
}

#wrapper #therapistChat .chatContainer #chatHeader #chatTools {
    display: flex;
    flex-direction: row;
    max-width: 30%;
}

#wrapper #therapistChat .chatContainer #chatHeader #chatTools a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-right: 1.5rem;
}

#wrapper #therapistChat .chatContainer #chatHeader #chatTools a i {
    font-size: 1.3rem;
    color: white;
}

#wrapper #therapistChat .chatContainer #chatHeader #chatTools #closeChat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

#wrapper #therapistChat .chatContainer #chatHeader #chatTools #closeChat i {
    font-size: 1.8rem;
    margin-top: 2px;
    color: white;
}

#wrapper #therapistChat .chatContainer #chatMessages {
    margin: 0;
    padding: 1.5rem 1rem;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

#wrapper #therapistChat .chatContainer #chatMessages::-webkit-scrollbar {
    width: 5px;
}

#wrapper #therapistChat .chatContainer #chatMessages::-webkit-scrollbar-track {
    background-color: rgba(211, 211, 211, 0.5);
}

#wrapper #therapistChat .chatContainer #chatMessages::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--primaryColor);
}

#wrapper #therapistChat .chatContainer #chatMessages li {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    clear: both;
    max-width: 65%;
    padding: 8px 10px;
    margin: 0 0 1rem 0;
    color: white;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: var(--primaryColor);
}

/* #therapistChat .chatContainer #chatMessages li:before {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    content: '';
    background-size: cover;
} */

#wrapper #therapistChat .chatContainer #chatMessages li:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
}

#wrapper #therapistChat .chatContainer #chatMessages li.other {
    float: left;
    margin-left: 10px;
    color: black;
    background-color: #F2F2F2;
    -webkit-animation: show-chat-odd 0.15s 1 ease-in-out;
    -moz-animation: show-chat-odd 0.15s 1 ease-in-out;
    -ms-animation: show-chat-odd 0.15s 1 ease-in-out;
    -o-animation: show-chat-odd 0.15s 1 ease-in-out;
    animation: show-chat-odd 0.15s 1 ease-in-out;
}

/* #therapistChat .chatContainer #chatMessages li.other:before {
    left: 0;
    background-image: url('../images/therapist1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */

#wrapper #therapistChat .chatContainer #chatMessages li.other:after {
    border-top: 15px solid #F2F2F2;
    border-left: 10px solid transparent;
    bottom: 0%;
    left: -10px;
    transform: rotate(90deg);
}

#wrapper #therapistChat .chatContainer #chatMessages li.self {
    float: right;
    margin-right: 10px;
    -webkit-animation: show-chat-even 0.15s 1 ease-in-out;
    -moz-animation: show-chat-even 0.15s 1 ease-in-out;
    -ms-animation: show-chat-even 0.15s 1 ease-in-out;
    -o-animation: show-chat-even 0.15s 1 ease-in-out;
    animation: show-chat-even 0.15s 1 ease-in-out;
}

/* #therapistChat .chatContainer #chatMessages li.self:before {
    left: -45px;
    background-image: url('../images/therapist2.jpg');
} */

#wrapper #therapistChat .chatContainer #chatMessages li.self:after {
    border-top: 15px solid var(--primaryColor);
    border-right: 10px solid transparent;
    right: -8px;
    bottom: 0%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#wrapper #therapistChat .chatContainer #sendMessageContainer {
    display: flex;
    padding: 0.8rem 1rem;
    max-height: 5rem;
}

#wrapper #therapistChat .chatContainer #sendMessageContainer #chatbox {
    color: black;
    border: 1px solid #CCCCCC;
    border-radius: 500px;
    width: 100%;
    min-height: 100%;
    padding: 0.8rem 1rem;
    overflow-y: auto;
    outline: none;
}

#wrapper #therapistChat .chatContainer #sendMessageContainer #chatbox::-webkit-scrollbar {
    width: 5px;
}

#wrapper #therapistChat .chatContainer #sendMessageContainer #chatbox::-webkit-scrollbar-track {
    background-color: rgba(211, 211, 211, 0.5);
}

#wrapper #therapistChat .chatContainer #sendMessageContainer #chatbox::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--primaryColor);
}

#wrapper #therapistChat .chatContainer #sendMessageContainer #sendMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    height: 2rem;
    width: 2rem;
    padding: 5px;
    background: #09C5A3;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#wrapper #therapistChat .chatContainer #sendMessageContainer #sendMessage img {
    color: black;
    width: 100%;
    height: 100%;
    margin-right: -2px;
}

@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@-ms-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@-o-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    
    100% {
        margin-right: 0;
    }
}

@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}

@-ms-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}

@-o-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}

@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}